/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/*TOP SECTIONS */
.applestore{
  text-align: center;
}
.hero {
  padding: 60px 20px;
}

.light-bg {
  background: #fff;
  color: #000;
}

.dark-bg {
  background: #000;
  color: #fff;
}

.text-box h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.text-box h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

.links a {
  margin: 0 10px;
  color: #2997ff;
  font-weight: 500;
}


.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
}
.card {
  padding: 40px 20px;
  border: none !important;
  box-shadow: none !important;
}
.card.dark-bg {
  background: black;
  color: #fff;
}
.logo {
  width: 190px;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}


.macbook1{
  background-image: url("../images/home/macbook-pro.jpg" );
  background-size: contain;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center top;
}
.iphone11pro{
  background-image: url("../images/home/iphone11-pro-bg.jpg" );
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center top;
}
.iphone11color{
  background-image: url("../images/home/iphone11-bg.jpg" );
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center top;
}
.watch1{
  background-image: url("../images/home/watch-series-5.jpg" );
  background-size: cover;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center top;

}
.applecard{
  background-image: url("../images/home/apple-card.jpg" );
  background-size: cover;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center top;
}
.tv-bg{
  background-image: url("../images/home/apple-tv-background.jpg" );
  background-size: cover;
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center top;
}
.airpod{
  background-image: url("../images/home/air-pods.jpg" );
  background-size: contain;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center top;
}
.laptop{
  background-image: url("../images/home/mac-laptop.jpg" );
  background-size: cover;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center top;
}
.ipad3{
  background-image: url("../images/home/new-ipad.jpg" );
  background-size: cover;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center top;
}


@media (min-width: 768px) {
  .custom-grid {
    display: grid ;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 12px ;
    padding: 30px 50px ;
  }

  body .hero {
    padding: 100px 20px ;
  }

  body .text-box h2 {
    font-size: 3.2rem ;
  }

  body .text-box h3 {
    font-size: 1.5rem ;
  }
}



/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
  text-decoration: none;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li a {
  border-right: 1px solid #d2d2d7;
  padding: 0 5px;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
